body {
  background-color: #e4e4e4;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

img {
  max-width: 100%;
}

input {
  /* display: none; */
}

.slides-wrapper {
  display: flex;
  overflow: hidden;
}

.slide-wrapper {
  flex-basis: 100%;
}

.text-wrapper {
  display: flex;
}

.text-slide {
  /* opacity: 0; */
}