@keyframes fadeInLeft {
  from {
    transform: translate3d(40%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

body {
  background-color: #d3d3d3;
  color: #fff;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 99vh;
  margin: 0 auto;
  overflow: hidden;
}

img {
  max-width: 100%;
}

input {
  display: none;
}

.slider-wrapper {
  background-color: #25282A;
  padding: 3%;
  padding-bottom: 1%;
  border-radius: 10px;
}

.slides-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.slide-wrapper {
  flex-basis: 100%;
}

.slides-control-wrapper {
  display: flex;
  align-items: center;
}

.text-wrapper {
  font-size: 165%;
}

.text-slide {
  display: none;
  overflow: hidden;
  padding: .5em;
  padding-left: 0;
  padding-right: 0;
}

.labels-wrapper {
  margin-left: auto;
  display: flex;
}

.custom-radio {
  padding: 12px;
  cursor: pointer;
}

.custom-radio-inner {
  width: 15px;
  height: 15px;
  display: block;
  background-color: #71ABFE;
  border: 3px solid #71ABFE;
  border-radius: 50%;
  transition: background-color .3s, border-color .3s;
}

.custom-radio:hover .custom-radio-inner {
  background-color: #fff;
  border-color: #fff;
}

.custom-radio:active .custom-radio-inner {
  background-color: #dddddd;
  border-color: #dddddd;
}

/* slide1 */

#slide1:checked~.slider-inner-wrapper label[for=slide1] .custom-radio-inner {
  background-color: transparent;
  border-color: #648FCD;
}

#slide1:checked~.slider-inner-wrapper label[for=slide1]:hover .custom-radio-inner {
  border-color: #fff;
}

#slide1:checked~.slider-inner-wrapper img {
  transform: translateX(0);
  transition: transform .3s;
}

#slide1:checked~.slider-inner-wrapper .text-wrapper .text-slide:nth-of-type(1) {
  display: block;
  animation-name: fadeInLeft;
  animation-duration: .5s;
}

/* slide2 */

#slide2:checked~.slider-inner-wrapper label[for=slide2] .custom-radio-inner {
  background-color: transparent;
  border-color: #648FCD;
}

#slide2:checked~.slider-inner-wrapper label[for=slide2]:hover .custom-radio-inner {
  border-color: #fff;
}

#slide2:checked~.slider-inner-wrapper img {
  transform: translateX(-100%);
  transition: transform .3s;
}

#slide2:checked~.slider-inner-wrapper .text-wrapper .text-slide:nth-of-type(2) {
  display: block;
  animation-name: fadeInLeft;
  animation-duration: .5s;
}

/* slide3 */

#slide3:checked~.slider-inner-wrapper label[for=slide3] .custom-radio-inner {
  background-color: transparent;
  border-color: #648FCD;
}

#slide3:checked~.slider-inner-wrapper label[for=slide3]:hover .custom-radio-inner {
  border-color: #fff;
}

#slide3:checked~.slider-inner-wrapper img {
  transform: translateX(-200%);
  transition: transform .3s;
}

#slide3:checked~.slider-inner-wrapper .text-wrapper .text-slide:nth-of-type(3) {
  display: block;
  animation-name: fadeInLeft;
  animation-duration: .5s;
}

/* slide4 */

#slide4:checked~.slider-inner-wrapper label[for=slide4] .custom-radio-inner {
  background-color: transparent;
  border-color: #648FCD;
}

#slide4:checked~.slider-inner-wrapper label[for=slide4]:hover .custom-radio-inner {
  border-color: #fff;
}

#slide4:checked~.slider-inner-wrapper img {
  transform: translateX(-300%);
  transition: transform .3s;
}

#slide4:checked~.slider-inner-wrapper .text-wrapper .text-slide:nth-of-type(4) {
  display: block;
  animation-name: fadeInLeft;
  animation-duration: .5s;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    max-width: 96%;
  }
  .slider-wrapper {
    margin-top: 3%;
  }
  .slides-control-wrapper {
    flex-direction: column;
  }
  .text-wrapper {
    order: 2;
    margin-right: auto;
  }
  .labels-wrapper {
    margin-top: 3%;
    margin-right: auto;
  }
}

@media screen and (max-width: 380px) {
  .text-wrapper {
    font-size: 120%;
  }
  .custom-radio-inner {
    width: 8px;
    height: 8px;
  }
}